_____

## `***last two remaining `
___

1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.

In [2]:
test1 = 'This is a test of the emergency text system'

with open('test.txt', 'w') as f:
    f.write(test1)

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

In [3]:
with open('test.txt', 'r') as f:
    test2=f.read()

print(test2)

This is a test of the emergency text system

3. Create a CSV file called books.csv by using these lines:<br>
title,author,year<br>
The Weirdstone of Brisingamen,Alan Garner,1960<br>
Perdido Street Station,China Miéville,2000<br>
Thud!,Terry Pratchett,2005<br>
The Spellman Files,Lisa Lutz,2007<br>
Small Gods,Terry Pratchett,1992

In [1]:
import csv

with open('books.csv', 'w',newline='') as f:    #preventing for extra line spacing

    data = csv.writer(f)

# Write rows to the CSV file
    data.writerow(['title', 'author', 'year'])
    data.writerow(['The Weirdstone of Brisingamen', 'Alan Garner', 1960])
    data.writerow(['Perdido Street Station', 'China Miéville', 2000])
    data.writerow(['Thud!', 'Terry Pratchett', 2005])
    data.writerow(['The Spellman Files', 'Lisa Lutz', 2007])
    data.writerow(['Small Gods', 'Terry Pratchett', 1992])

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

In [2]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('books.db')

# Create a cursor
cursor = conn.cursor()

# Execute a CREATE TABLE statement
cursor.execute('''
    CREATE TABLE books (
        title TEXT,
        author TEXT,
        year INTEGER
    )
''')

# Commit the transaction
conn.commit()

5. Read books.csv and insert its data into the book table.

In [3]:
import csv
import sqlite3

conn = sqlite3.connect('books.db')
cursor = conn.cursor()

with open('books.csv', 'r') as f:
    # Create a CSV reader object
    reader = csv.reader(f)

    # Skip the header row
    next(reader)

    # Iterate over the rows in the CSV file
    for row in reader:
        # Execute an INSERT INTO statement
        cursor.execute('''
            INSERT INTO books (title, author, year)
            VALUES (?, ?, ?)
        ''', row)

# Commit the transaction
conn.commit()

In [4]:
cursor.execute('select * from books')

In [5]:
cursor.fetchall()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007),
 ('Small Gods', 'Terry Pratchett', 1992)]

6. Select and print the title column from the book table in alphabetical order.

In [6]:
cursor.execute('select title from books order by title')

In [7]:
cursor.fetchall()

[('Perdido Street Station',),
 ('Small Gods',),
 ('The Spellman Files',),
 ('The Weirdstone of Brisingamen',),
 ('Thud!',)]

7. From the book table, select and print all columns in the order of publication.

In [8]:
cursor.execute('select * from books order by year')

In [9]:
cursor.fetchall()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Small Gods', 'Terry Pratchett', 1992),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007)]

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

In [11]:
from sqlalchemy import create_engine

# Connect to a SQLite database
engine = create_engine('sqlite:///books.db')

# Create a connection
connection = engine.connect()

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for
test.

In [ ]:
import redis

# Connect to the Redis server
r = redis.Redis()

# Create a hash called "test" with the fields "count" and "name"
r.hset('test', 'count', 1)
r.hset('test', 'name', 'Fester Bestertester')

# Print all the fields for the "test" hash
print(r.hgetall('test'))

10. Increment the count field of test and print it.