In [9]:
import sqlite3
import pandas as pd
import csv
from sqlalchemy import create_engine

1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.

In [1]:
test1 = "This is a test of the emergency text system,"

with open('test.txt', 'w') as file:
    file.write(test1)

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

In [2]:
with open('test.txt', 'r') as f:
          test2 = f.read()
          
if test1 == test2:
        print("both are same")

else:
        print('Both are different')

both are same

3. Create a CSV file called books.csv by using these lines:<br>
title,author,year<br>
The Weirdstone of Brisingamen,Alan Garner,1960<br>
Perdido Street Station,China Mi√©ville,2000<br>
Thud!,Terry Pratchett,2005<br>
The Spellman Files,Lisa Lutz,2007<br>
Small Gods,Terry Pratchett,1992

In [3]:
data = [
    ["The Weirdstone of Brisingamen", "Alan Garner", 1960],
    ["Perdido Street Station", "China Mieville", 2000],
    ["Thud!", "Terry Pratchett", 2005],
    ["The Spellman Files", "Lisa Lutz", 2007]
]

csv_file = 'books.csv'

with open(csv_file, mode='w', newline='') as f:
    writer = csv.writer(f)


    # write the header
    writer.writerow(["title", "author", "year"])

    # write the data
    writer.writerows(data)

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

In [4]:
conn = sqlite3.connect('books.db')

cursor = conn.cursor()

cursor.execute("""CREATE TABLE IF NOT EXISTS books (
                 title TEXT NOT NULL,
                 author TEXT NOT NULL,
                 year INTEGER NOT NULL
             )""")

conn.commit()
conn.close()

print("Database and table created successfully!")

Database and table created successfully!

5. Read books.csv and insert its data into the book table.

In [6]:
conn = sqlite3.connect('books.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Read data from the CSV file into a DataFrame
csv_file = 'books.csv'
df = pd.read_csv(csv_file)

# Insert data into the 'books' table
insert_query = "INSERT INTO books (title, author, year) VALUES (?, ?, ?)"
data = df.values.tolist()
cursor.executemany(insert_query, data)

# Commit the changes
conn.commit()

# Now, read and print the data from the 'books' table
select_query = 'SELECT * FROM books'
cursor.execute(select_query)
rows = cursor.fetchall()

# Print the data
for row in rows:
    print(row)

# Close the connection
conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Mieville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

6. Select and print the title column from the book table in alphabetical order.